@model List<clashclash.Models.CardModel>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Clashdle</title>
    <link rel="stylesheet" href="~/css/paginas.css" />
</head>

<body>
    <div class="tudo">
        <div class="voltaHome">
            <a href="/Home"><img src="/css/seta_volta.png" style="width:30px;"></a>
        </div>
        <h2>Unlimited Mode</h2>

        <div class="barFixed">
            <div class="seachBarDiv">
                <input type="text" id="searchInput" placeholder="Insert a Card" class="barraPesquisa" autocomplete="off">
                <ul class="dropdown" id="dropdown">
                </ul>
            </div>

            <div class="vidasDiv" id="vidasDiv">
                <a><img src="/css/crownClash.png" class="vidasImg" id="vidasImgId" /></a>
                <p id="vidasId"></p>
            </div>
        </div>

        <div class="tutorial-popup" id="tutorialPopup">
            <div class="tutorial-content">
                <button class="close-popup" id="closePopup">✖</button>
                <p>Color Meaning</p>
                <ul style="list-style: none; padding: 0; margin: 0;">
                    <li><span class="color-indicator green"></span> Correct match</li>
                    <li><span class="color-indicator red"></span> Incorrect match</li>
                    <li><img src="/css/crownClash.png" class="vidasImg" style="width: 40px; margin-left: -7px;" />  Life</li>
                </ul>
            </div>
        </div>

        <table id="cardTable">

            <tbody class="BodyCartas">

                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td><a class="aSelect" id="selectCard">@item.Name</a></td>
                            <td><p id="stats">@item.Id</p></td>
                            <td><p id="stats">@item.maxlevel</p></td>
                            <td><p id="stats">@item.maxevolutionlevel</p></td>
                            <td><p id="stats">@item.elixircost</p></td>
                            <td><p id="stats">@item.Rarity</p></td>
                            <td><p id="stats">@item.Medium</p></td>
                            <td><p id="stats">@item.Gender</p></td>
                            <td><p id="stats">@item.Type</p></td>
                            <td><p id="stats">@item.launchdate</p></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">Nenhum card cadastrado</td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="ganhou" id="ganhou">
            <p>Congratulations!!!!!</p>
            <div class="opcoes">
                <a href="../Unlimited/" class="btOpcoes"> Play Again </a>
            </div>
        </div>

        <div class="perdeu" id="perdeu">
            <p>GAME OVER</p>

            <div class="opcoes">
                <a href="../Unlimited/" class="btOpcoes"> Play Again </a>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var tableBody = $('#cardTable tbody');
    var dados = $('#stats');

    var correctName;
    var correctId;
    var correctML;
    var correctMEL;
    var correctEC;
    var correctRar;
    var correctGen;
    var correctTyp;
    var correctLD;
    var correctImg;

    var round = 0;
    var vidas = 5;

    var imagemVidas = document.getElementById("vidasImgId");
    const vidasDiv = document.getElementById("vidasDiv");
    vidasDiv.innerHTML = '';
    for (let i = 0; i < vidas; i++) {
        const novaImagem = imagemVidas.cloneNode();
        vidasDiv.appendChild(novaImagem);
    }

    $(document).ready(function () {
        $('#tutorialPopup').fadeIn();
    });

    // Fechar o popup ao clicar no botão "X"
    $('#closePopup').on('click', function () {
        $('#tutorialPopup').fadeOut();
    });

    dados.empty();
    tableBody.empty();

    $(document).ready(function () {
        function carregarCardAl() {
            $.ajax({
                url: '@Url.Action("GetRandCard", "Card")',
                type: 'GET',
                success: function (data) {
                    correctId = data.id;
                    correctML = data.maxlevel;
                    correctMEL = data.maxevolutionlevel;
                    correctEC = data.elixircost;
                    correctRar = data.rarity;
                    correctGen = data.gender;
                    correctTyp = data.type;
                    correctLD = data.launchdate;
                    correctImg = data.medium;

                    console.log(data.name);
                }
            });
        }
        var cardToday = carregarCardAl();
    })

    $(document).ready(function () {
        function carregarCardPorId(id) {
            $.ajax({
                url: '@Url.Action("GetCardById", "Card")', // Assumindo que você tem uma ação para buscar o card pelo ID
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    correctName = data.name;
                    correctId = data.id;
                    correctML = data.maxlevel;
                    correctMEL = data.maxevolutionlevel;
                    correctEC = data.elixircost;
                    correctRar = data.rarity;
                    correctGen = data.gender;
                    correctTyp = data.type;
                    correctLD = data.launchdate;
                    correctImg = data.medium;

                    console.log(data.name);
                }
            });
        }

        $('#searchInput').on('keyup', function () {
            $('#dropdown').empty();
            var query = $(this).val();

            $(document).on('click', function (event) {
                if (!$(event.target).closest('#searchInput').length && !$(event.target).closest('#dropdown').length) {
                    $('#dropdown').hide(); // Esconde o dropdown
                }
            });

            if (query) {
                $.ajax({
                    url: '@Url.Action("Search", "Card")',
                    type: 'GET',
                    data: { query: query },
                    success: function (data) {

                        if (data.length > 0) {
                            $.each(data, function (index, item) {

                                var row = `
                                                                     <li><button class="selectCard" data-name="${item.name}" data-id="${item.id}" data-maxlevel="${item.maxlevel}" data-maxevolutionlevel="${item.maxevolutionlevel}" data-elixircost="${item.elixircost}" data-rarity="${item.rarity}" data-medium="${item.medium}" data-gender="${item.gender}" data-type="${item.type}" data-launchdate="${item.launchdate}" >${item.name}</button></li>
                                                    `;

                                $('#dropdown').append(row);
                            });
                            $('#dropdown').show();
                        } else {
                            $('#dropdown').hide();
                        }
                    }
                });
            } else {
                $('#dropdown').hide(); // Esconde se o campo de pesquisa estiver vazio
            }
        });
        $(document).on('click', '.selectCard', function () {
            round++;
            vidas--;
            $('#dropdown').hide();

            var card = $(this);
            var cardId = card.data('id');
            var cardName = card.data('name');
            var cardML = card.data('maxlevel');
            var cardMEL = card.data('maxevolutionlevel');
            var cardElixirCost = card.data('elixircost');
            var cardRarity = card.data('rarity');
            var cardGender = card.data('gender');
            var cardType = card.data('type');
            var cardLD = card.data('launchdate');
            var image = card.data('medium');

            console.log(image);

            var temEvo = cardMEL == 0 ? "<img src='/css/notEvolutionShard.png' class='evolutionClass'/> <span class='tipEvo'>Does not have evo</span>"
                : "<img src='/css/evolutionShard.png' class='evolutionClass'/> <span class='tipEvo'>Does have evo</span>";



            console.log('Nome da carta selecionada: ' + cardName);
            var codigo = `
                                                        <thead>
                                                            <tr class= "Mae">

                                                                <th class="CartaTH">Name</th>
                                                                <th class="CartaTH">Evolution</th>
                                                                <th class="CartaTH">Elixir Cost</th>
                                                                <th class="CartaTH">Rarity</th>
                                                                <th class="CartaTH">Gender</th>
                                                                <th class="CartaTH">Type</th>
                                                                <th class="CartaTH">Launch Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tr class="Mae">

                                                            <td>
                                                            <div class="wrapImgCard">
                                                                <img src="${image}" alt="card" id="cardImage" class="cardImage"/>
                                                                <span class="cardName">${cardName}</span>
                                                            </div>
                                                            </td>
                                                            <td class="CartaTD" id="maxEL${round}" >${temEvo}</td>
                                                            <td class="CartaTD" id="custoEl${round}" ><p>${cardElixirCost}</p></td>
                                                            <td class="CartaTD" id="raridade${round}" ><p>${cardRarity}</p></td>
                                                            <td class="CartaTD" id="gender${round}" ><p>${cardGender}</p></td>
                                                            <td class="CartaTD" id="type${round}" ><p>${cardType}</p></td>
                                                            <td class="CartaTD" id="launchDate${round}" ><p>${cardLD}</p></td>
                                                    </tr>`;

            tableBody.append(codigo);

            // Faz a página rolar para baixo
            window.scrollBy({
                top: window.innerHeight,
                behavior: 'smooth'
            });

            vidasDiv.innerHTML = '';
            for (let i = 0; i < vidas; i++) {
                const novaImagem = imagemVidas.cloneNode();
                vidasDiv.appendChild(novaImagem);
            }

            if (vidas > 0) {

                if (cardId == correctId) {
                    console.log("poggers");
                    document.getElementById("ganhou").style.display = "flex";
                    const cartasTd = document.getElementsByClassName(`CartaTD${round}`);
                    for (let i = 0; i < cartasTd.length; i++) {
                        cartasTd[i].style.backgroundColor = "green";
                    }
                }

                if (cardElixirCost == correctEC) {
                    document.getElementById(`custoEl${round}`).style.backgroundColor = "green";
                    console.log("ec correto");

                }
                else {
                    document.getElementById(`custoEl${round}`).style.backgroundColor = "red";
                }

                if (cardMEL == correctMEL) {
                    document.getElementById(`maxEL${round}`).style.backgroundColor = "green";
                    console.log("mel correto");

                }

                else {
                    document.getElementById(`maxEL${round}`).style.backgroundColor = "red";
                }

                if (cardRarity == correctRar) {
                    document.getElementById(`raridade${round}`).style.backgroundColor = "green";
                }
                else {
                    document.getElementById(`raridade${round}`).style.backgroundColor = "red";
                }
                if (cardGender == correctGen) {
                    document.getElementById(`gender${round}`).style.backgroundColor = "green";
                }
                else {
                    document.getElementById(`gender${round}`).style.backgroundColor = "red";
                }
                if (cardType == correctTyp) {
                    document.getElementById(`type${round}`).style.backgroundColor = "green";
                }
                else {
                    document.getElementById(`type${round}`).style.backgroundColor = "red";
                }
                if (cardLD == correctLD) {
                    document.getElementById(`launchDate${round}`).style.backgroundColor = "green";
                }
                else {
                    document.getElementById(`launchDate${round}`).style.backgroundColor = "red";
                }
            }

            else {
                console.log("perdeu");
                document.getElementById("perdeu").style.display = "flex";

                if (cardElixirCost == correctEC) {
                    document.getElementById(`custoEl${round}`).style.backgroundColor = "green";
                    console.log("ec correto");

                }
                else {
                    document.getElementById(`custoEl${round}`).style.backgroundColor = "red";
                }

                if (cardMEL == correctMEL) {
                    document.getElementById(`maxEL${round}`).style.backgroundColor = "green";
                    console.log("mel correto");

                }

                else {
                    document.getElementById(`maxEL${round}`).style.backgroundColor = "red";
                }

                if (cardRarity == correctRar) {
                    document.getElementById(`raridade${round}`).style.backgroundColor = "green";
                }
                else {
                    document.getElementById(`raridade${round}`).style.backgroundColor = "red";
                }
                if (cardGender == correctGen) {
                    document.getElementById(`gender${round}`).style.backgroundColor = "green";
                }
                else {
                    document.getElementById(`gender${round}`).style.backgroundColor = "red";
                }
                if (cardType == correctTyp) {
                    document.getElementById(`type${round}`).style.backgroundColor = "green";
                }
                else {
                    document.getElementById(`type${round}`).style.backgroundColor = "red";
                }
                if (cardLD == correctLD) {
                    document.getElementById(`launchDate${round}`).style.backgroundColor = "green";
                }
                else {
                    document.getElementById(`launchDate${round}`).style.backgroundColor = "red";
                }

                round++;

                var corrTemEvo = correctMEL == 0 ? "<img src='/css/notEvolutionShard.png' class='evolutionClass'/> <span class='tipEvo'>Does not have evo</span>"
                    : "<img src='/css/evolutionShard.png' class='evolutionClass'/> <span class='tipEvo'>Does have evo</span>";

                var codigoFim = `
                                                        <thead>
                                                            <tr class= "Mae">

                                                                <th class="CartaTH">Name</th>
                                                                <th class="CartaTH">Evolution</th>
                                                                <th class="CartaTH">Elixir Cost</th>
                                                                <th class="CartaTH">Rarity</th>
                                                                <th class="CartaTH">Gender</th>
                                                                <th class="CartaTH">Type</th>
                                                                <th class="CartaTH">Launch Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tr class="Mae">

                                                            <td>
                                                            <div class="wrapImgCard">
                                                                <img src="${correctImg}" alt="card" id="cardImage" class="cardImage"/>
                                                                 <span class="cardName">${correctName}</span>
                                                            </div>
                                                            </td>
                                                            <td class="CartaTD" id="maxEL${round}" >${corrTemEvo}</td>
                                                            <td class="CartaTD" id="custoEl${round}" ><p>${correctEC}</p></td>
                                                            <td class="CartaTD" id="raridade${round}" ><p>${correctRar}</p></td>
                                                            <td class="CartaTD" id="gender${round}" ><p>${correctGen}</p></td>
                                                            <td class="CartaTD" id="type${round}" ><p>${correctTyp}</p></td>
                                                            <td class="CartaTD" id="launchDate${round}" ><p>${correctLD}</p></td>
                                                    </tr>`;
                tableBody.append(codigoFim);

                document.getElementById(`maxEL${round}`).style.backgroundColor = "blue";
                document.getElementById(`custoEl${round}`).style.backgroundColor = "blue";
                document.getElementById(`raridade${round}`).style.backgroundColor = "blue";
                document.getElementById(`gender${round}`).style.backgroundColor = "blue";
                document.getElementById(`type${round}`).style.backgroundColor = "blue";
                document.getElementById(`launchDate${round}`).style.backgroundColor = "blue";

                // Faz a página rolar para baixo
                window.scrollBy({
                    top: window.innerHeight,
                    behavior: 'smooth'
                });
            }

        });
    });

</script>
