@model List<clashclash.Models.CardModel>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> - clashclash</title>
    <link rel="stylesheet" href="~/css/paginas.css"/>
</head>

    <body>
        <div class="tudo" >
        <h2>Unlimeted Mode :)</h2>
        <input type="text" id="searchInput" placeholder="Insert a card" class="barraPesquisa" autocomplete="off">
        <ul class="dropdown" id="dropdown">

        </ul>
        <table id="cardTable">
            
            <tbody class="BodyCartas">
            
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td><a class="aSelect" id="selectCard">@item.Name</a></td>
                            <td><p id="stats">@item.Id</p></td>
                            <td><p id="stats">@item.maxlevel</p></td>
                            <td><p id="stats">@item.maxevolutionlevel</p></td>
                            <td><p id="stats">@item.elixircost</p></td>
                            <td><p id="stats">@item.Rarity</p></td>
                            <td><p id="stats">@item.Medium</p></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">Nenhum card cadastrado</td>
                    </tr>
                }

            </tbody>
        </table>
        <div id="ganhou">parabéns!!!!!!!!!!!</div>
        </div>
    </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var tableBody = $('#cardTable tbody');
    var dados = $('#stats');

    var correctId;
    var correctML;
    var correctMEL;
    var correctEC;
    var correctRar;

    var round = 0;
    var vidas = 5;

    dados.empty();
    tableBody.empty();

    $(document).ready(function () {
        function carregarCardPorId(id) {
            $.ajax({
                url: '@Url.Action("GetCardById", "Card")', // Assumindo que você tem uma ação para buscar o card pelo ID
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    correctId = data.id;
                    correctML = data.maxlevel;
                    correctMEL = data.maxevolutionlevel;
                    correctEC = data.elixircost;
                    correctRar = data.rarity;

                    console.log(data.name);
                }
            });
        }
        var cardToday = carregarCardPorId(26000000);

        $('#searchInput').on('keyup', function () {
            $('#dropdown').empty();
            var query = $(this).val();

            if (query) {
                $.ajax({
                    url: '@Url.Action("Search", "Card")',
                    type: 'GET',
                    data: { query: query },
                    success: function (data) {

                        if (data.length > 0) {
                            $.each(data, function (index, item) {

                                var row = `
                                         <li><button class="selectCard" data-name="${item.name}" data-id="${item.id}" data-maxlevel="${item.maxlevel}" data-maxevolutionlevel="${item.maxevolutionlevel}" data-elixircost="${item.elixircost}" data-rarity="${item.rarity}" data-medium="${item.medium}" >${item.name}</button></li>
                                `; 

                                $('#dropdown').append(row);
                            });
                            $('#dropdown').show();
                        } else {
                            $('#dropdown').hide();
                        }
                    }
                });
            } else {
                $('#dropdown').hide(); // Esconde se o campo de pesquisa estiver vazio
            }        
        });
        $(document).on('click', '.selectCard', function () 
        {
            round++;
            vidas--;
            $('#dropdown').hide();

            var card = $(this);
            var cardId = card.data('id');
            var cardName = card.data('name');
            var cardML = card.data('maxlevel');
            var cardMEL = card.data('maxevolutionlevel');
            var cardElixirCost = card.data('elixircost');
            var cardRarity = card.data('rarity');
            var image = card.data('medium');

            console.log(image);

            var temEvo = cardMEL == 0 ? "does not have evolution" : "Does have evolution";

            

            console.log('Nome da carta selecionada: ' + cardName);
            var codigo = `     
                                    <thead>
                                        <tr class= "Mae">

                                            <th class="CartaTH">Name</th>
                                            <th class="CartaTH">Evolution</th>
                                            <th class="CartaTH">Elixir Cost</th>
                                            <th class="CartaTH">Rarity</th>
                                        </tr>
                                    </thead>
                                    <tr class="Mae">

                                        <td><img src="${image}"  alt="Alternate Text" id="cardImage"><p style=" z-index: 1000; position: absolute; color: white; top: 50%; ">${cardName}</p> </img></td>
                                        <td class="CartaTD" id="maxEL${round}" ><p>${temEvo}</p></td>
                                        <td class="CartaTD" id="custoEl${round}" ><p>${cardElixirCost}</p></td>
                                        <td class="CartaTD" id="raridade${round}" ><p>${cardRarity}</p></td>
                                </tr>`;
                                 
            tableBody.append(codigo);

            if (vidas >= 0) {

                if (cardId == correctId) {
                    console.log("poggers");
                    document.getElementById("ganhou").style.display = "flex";
                    document.getElementsByClassName("CartaTD").style.backgroundColor = "green";

                }

                if (cardElixirCost == correctEC) {
                    document.getElementById(`custoEl${round}`).style.backgroundColor = "green";
                    console.log("ec correto");

                }
                else
                    document.getElementById(`custoEl${round}`).style.backgroundColor = "red";

                if (cardMEL == correctMEL) {
                    document.getElementById(`maxEL${round}`).style.backgroundColor = "green";
                    console.log("mel correto");

                }

                else
                    document.getElementById(`maxEL${round}`).style.backgroundColor = "red";

                if (cardRarity == correctRar) {
                    document.getElementById(`raridade${round}`).style.backgroundColor = "green";
                }
                else
                    document.getElementById(`raridade${round}`).style.backgroundColor = "red";
            }
            else
                console.log("perdeu lkkkkkkkkkkkkkkkkklh");

        });
    });
</script>

